In [6]:
import pandas as pd
import numpy as np

In [5]:
# df = pd.read_csv('archive/Housing.csv')
# df

In [22]:
abc = pd.DataFrame(np.random.randint(1,100,size=(4,5)),index=["Row1","Row2","Row3","Row4"],columns=["C1","C2","C3","C4","C5"])
abc

      C1  C2  C3  C4  C5
Row1   9  99  66  32  19
Row2  20  30  18  58  36
Row3  72  87  71  77  97
Row4  67  98  56  98  41

In [21]:
abc.to_csv('created.csv')

In [26]:
print(abc.loc['Row2'])
print(type(abc.loc['Row2']))

C1    20
C2    30
C3    18
C4    58
C5    36
Name: Row2, dtype: int64
<class 'pandas.core.series.Series'>

In [35]:
print(abc.iloc[0:3,0:4])
print(type(abc.iloc[0:3,0:5]))

      C1  C2  C3  C4
Row1   9  99  66  32
Row2  20  30  18  58
Row3  72  87  71  77
<class 'pandas.core.frame.DataFrame'>

In [45]:
arr1 = abc.iloc[0:2,].values
print(arr1)
print(type(arr1))

[[ 9 99 66 32 19]
 [20 30 18 58 36]]
<class 'numpy.ndarray'>